@import "variables";

@each $values in ($spacings (auto:auto)) {
  @each $key, $value in $values {
    .m-#{$key} {
      margin: $value;
    }

    .mx-#{$key} {
      margin-left: $value;
      margin-right: $value;
    }

    .my-#{$key} {
      margin-top: $value;
      margin-bottom: $value;
    }

    .mt-#{$key} {
      margin-top: $value;
    }

    .mr-#{$key} {
      margin-right: $value;
    }

    .mb-#{$key} {
      margin-bottom: $value;
    }

    .ml-#{$key} {
      margin-left: $value;
    }
  }
}