$decorations: (
        'underline': underline,
        'overline': overline,
        'line-through': line-through,
        'no-underline': none,
);

@each $key, $value in $decorations {
  .#{$key} {
    text-decoration-line: $value;
  }
}

@each $value in (solid double dotted dashed wavy) {
  .decoration-#{$value} {
    text-decoration-style: $value;
  }
}

$thicknesses: (
        auto: auto,
        0: 0px,
        1: 1px,
        2: 2px,
        4: 4px,
        8: 8px,
);
@each $key, $value in $thicknesses {
  .decoration-#{$key} {
    text-decoration-thickness: $value;
  }
}

$offsets: (
        auto: auto,
        0: 0px,
        1: 1px,
        2: 2px,
        4: 4px,
        8: 8px,
);
@each $key, $value in $thicknesses {
  .underline-offset-#{$key} {
    text-underline-offset: $value;
  }
}