@import "variables";

$specialSpacings: (
        '1-2': 50%,
        '1-3': 33.333333%,
        '2-3': 66.666667%,
        '1-4': 25%,
        '2-4': 50%,
        '3-4': 75%,
        full: 100%,
);

@each $values in ($spacings $specialSpacings) {
  @each $key, $value in $values {
    .translate-x-#{$key} {
      transform: translateX($value);
    }

    .translate-y-#{$key} {
      transform: translateY($value);
    }
  }
}